{% if settings.slider_home_enable %}
    <section id="slideshow" class="clearfix"> 
        {% include 'slideshow' %}
    </section>
{% endif %}
<section id="columns" class="columns-container">
    <div class="container-columns">
        <div class="row-columns">
            <div id="center_column" class="center_column">
                <div class="center_wrap">
                  {% if settings.home_service_enable %}
                  <div class="html_block block"> 
                    <div class="container">
                      <div class="row">
                        {% include 'block-service' %}            
                      </div>
                    </div>
                  </div>
                  {% endif %}
                    <div class="html_block block">
                      <div class="container">
                        {% if settings.home_banner_enable %}
                        <div class="row {{ settings.home_banner_class }}">
                          <div class="home_banner group_banner clearfix">
                            <div class="banner_left col-lg-5 col-md-5 col-sm-5 col-xs-12 col-sp-12">
                              {% assign banner_name = 'home_banner.jpg' %}
                              {% assign banner_link = settings.home_banner_link %}
                              {% include 'block-banner' %}
                            </div>
                            <div class="banner_right col-lg-7 col-md-7 col-sm-7 col-xs-12 col-sp-12">
                              <div class="banner-top-right">
                                {% assign banner_name = 'home_banner1.jpg' %}
                                {% assign banner_link = settings.home_banner_link1 %}
                                {% include 'block-banner' %}
                              </div>
                              <div class="banner-bt-right">
                                {% assign banner_name = 'home_banner2.jpg' %}
                                {% assign banner_link = settings.home_banner_link2 %}
                                {% include 'block-banner' %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    {% if settings.home_productlists_enable %}
                  <div class="html_block block">
                    <div class="products-homeshop">
                    <div class="container">
                      <div class="row">
                        <div class="products_homepage {{ settings.home_productlists_class }}">
                          <div class="products_top col-xs-12 col-sm-12">
                            {% assign item_in_page = settings.home_productlists_itempage | plus:0 %}
                            {% assign columns_product = settings.home_productlists_columntab | plus:0 %}
                            {% assign product_in_tab = settings.home_productlists_limit | plus:0 %}
                            {% assign title_block = settings.home_productlist_titletab %}
                            {% assign des_title_block = settings.home_productlist_destitletab %}
                            {% assign product_interval = settings.home_productlists_interval %}
                            {% assign type_block = settings.home_productlists_type %}
                            {% assign collection_produclists = collections[settings.home_productlists_collection].products %}
                            {% assign proLazyLoad = settings.home_productlists_lazy %}
                            {% assign row_in_tab = 2 %}
                            {% include 'block-productlist' with '1' %}
                            {% assign row_in_tab = '' %}
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                    {% endif %}
                  <div class="html_block block">
                    <div class="bottom_banner">
                      <div class="container">
                        {% if settings.home_banner_bt_enable %}
                        <div class="row {{ settings.home_banner_bt_class }}">
                          <div class="home_banner group_banner banner_bt hidden-sm hidden-xs hidden-sp clearfix">
                            <div class="banner_left col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sp-12">
                              {% assign banner_name = 'home_banner3.png' %}
                              {% assign banner_link = settings.home_banner_link3 %}
                              {% include 'block-bannerbt' %}
                            </div>
                            <div class="banner_right col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sp-12">
                             <div class="banner_description block clearfix">
                                {% if settings.title_banner != blank %}
                                <h4 class="title_block">{{ settings.title_banner }}</h4>
                                {% endif %}
                                {% if settings.text_banner != blank %}
                                <p>{{ settings.text_banner }}</p>
                                {% endif %}
                                {% if settings.text_link_banner != blank %}
                                <div class="link-view pull-left">
                                <a class="btn" href="{{ settings.link_description_banner }}">{{ settings.text_link_banner }}</a>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    </div>
                  <div class="html_block block">
                    <div class="container">
                      {% if settings.home_blogs_enable %}
                      <div class="row {{ settings.home_blogs_class }}">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          {% include 'block-blog' %}
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  <script>
    
    var link = {{ linklists | json }};
    //var product = {{ products | json }};
  </script>
</section>